body {
	/*display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;*/
	background: blue;
}



#main {
	padding-top: 14px;
    display:flex;
    flex-direction:row;
	flex-shrink: all;
	justify-content: center;

}

#baby1{
    display: flex;
    flex-direction: column;
	
}


#baby2{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


h1 {
	text-align: center;
	font-weight: bolder;
	font-size: 35px;
	color: red;
	

}

h4 {
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	color: white;
}

footer {
            width: 100%;
            bottom: 0;
            position: fixed;
            font-size: 80px;
}



